:root {
    --header: #A5D3DB;
    --backsite: #fff;
    --works: #95d3a4;
    --team: #e1b7c5;
    --templates: #F0F1F0;
    --contact: #3C3C3C;
    --heading_text: #3A494C;
    --nav-link: #3A494C; }
  
  @font-face {
    font-family: 'Trump';
    src: url("../css/typo/Trump Town Pro.otf") format("opentype");
    font-weight: normal;
    font-style: normal; }
  body {
    font-family: 'Open Sans', sans-serif;
    background: var(--backsite); }
  
  * {
    box-sizing: border-box; }
  
  .pj_main-wrapper {
    margin: 0 auto;
    width: 100%; }
    @media only screen and (min-width: 765.01px) {
      .pj_main-wrapper {
        width: 90%; } }
    @media only screen and (min-width: 1178.01px) {
      .pj_main-wrapper {
        width: 80%; } }
  
  .pj_title {
    text-align: center;
    font-family: 'Trump';
    font-size: 72px;
    line-height: 80px;
    color: #fff; }
  
  .pj_claim {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 38px;
    color: #eee;
    font-weight: 900;
    line-height: 22px;
    width: 80%; }
    @media only screen and (min-width: 765.01px) {
      .pj_claim {
        width: 60%; } }
    @media only screen and (min-width: 1178.01px) {
      .pj_claim {
        width: 50%; } }
  
  .pj_header {
    background-color: var(--header); }
    .pj_header .pj_header-wrapper {
      display: flex;
      flex-direction: column;
      padding: 40px 0; }
      @media only screen and (min-width: 1178.01px) {
        .pj_header .pj_header-wrapper {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap; } }
  
  .pj_header-logo {
    margin: 0 auto; }
    @media only screen and (min-width: 1178.01px) {
      .pj_header-logo {
        margin: 0; } }
    .pj_header-logo .pj_header-logo_link {
      font-family: 'Trump';
      text-decoration: none;
      color: var(--heading_text);
      font-size: 50px; }
      .pj_header-logo .pj_header-logo_link .fa-heart {
        font-size: 45px; }
        @media only screen and (min-width: 1178.01px) {
          .pj_header-logo .pj_header-logo_link .fa-heart {
            font-size: 45px; } }
  
  .pj_header_nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
    @media only screen and (min-width: 765.01px) {
      .pj_header_nav {
        flex-direction: row; } }
    .pj_header_nav .pj_header_nav-link {
      display: block;
      text-decoration: none;
      color: var(--nav-link);
      border-radius: 10px;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      padding: 10px 18px;
      border: 1px solid transparent; }
      @media only screen and (min-width: 765.01px) {
        .pj_header_nav .pj_header_nav-link {
          display: flex; } }
      @media only screen and (min-width: 1178.01px) {
        .pj_header_nav .pj_header_nav-link {
          margin-right: 5px; } }
      @media only screen and (min-width: 765.01px) {
        .pj_header_nav .pj_header_nav-link:first-child {
          background-color: var(--nav-link);
          color: var(--header); } }
      .pj_header_nav .pj_header_nav-link:hover {
        border: 1px solid var(--nav-link); }
        @media only screen and (min-width: 765.01px) {
          .pj_header_nav .pj_header_nav-link:hover {
            background-color: var(--nav-link);
            color: var(--header);
            border: 1px solid transparent; } }
  
  .pj_carousel-section {
    background: var(--header);
    padding: 0 0 80px 0; }
    .pj_carousel-section .pj_carousel_wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center; }
  
  .pj_carousel_h2 {
    font-family: 'Trump';
    text-shadow: 1px 1px #aebec1;
    display: block;
    margin: 0 auto;
    font-size: 60px;
    color: #fff;
    padding-bottom: 20px; }
    @media only screen and (min-width: 765.01px) {
      .pj_carousel_h2 {
        font-size: 60px; } }
    @media only screen and (min-width: 1178.01px) {
      .pj_carousel_h2 {
        display: flex;
        margin: 0;
        font-size: 80px; } }
  
  .pj_carousel_img {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 325.1184834123223px;
    padding-bottom: 25px; }
    @media only screen and (min-width: 765.01px) {
      .pj_carousel_img {
        width: 422px;
        height: 343px; } }
    @media only screen and (min-width: 1178.01px) {
      .pj_carousel_img {
        margin: 0; } }
  
  .pj_carousel_selectors {
    width: 85px;
    margin: 0 auto; }
    .pj_carousel_selectors .pj_carousel_selectors-tab {
      display: inline-block;
      height: 20px;
      width: 20px;
      border: 2px solid #fff;
      border-radius: 100%; }
      .pj_carousel_selectors .pj_carousel_selectors-tab:nth-child(2) {
        margin: 0 8px; }
      .pj_carousel_selectors .pj_carousel_selectors-tab:hover {
        background-color: #fff; }
  
  .pj_pilars-section {
    padding: 80px 0; }
    @media only screen and (min-width: 765.01px) {
      .pj_pilars-section {
        padding: 112px 0; } }
    .pj_pilars-section .pj_pilars-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap; }
      @media only screen and (min-width: 765.01px) {
        .pj_pilars-section .pj_pilars-wrapper {
          justify-content: space-between;
          flex-direction: row; } }
  
  .pj_pilars_box {
    text-align: center;
    flex-basis: 300px;
    max-width: 300px;
    margin: 0 auto; }
    .pj_pilars_box .pj_first-image {
      background: url("../style/pilars/top-grid-pic1.png"); }
    .pj_pilars_box .pj_second-image {
      background: url("../style/pilars/top-grid-pic2.png"); }
    .pj_pilars_box .pj_third-image {
      background: url("../style/pilars/top-grid-pic3.png"); }
    .pj_pilars_box .pj_pilars-box_img {
      height: 134px;
      background-position: center;
      background-repeat: no-repeat; }
      .pj_pilars_box .pj_pilars-box_img a {
        display: block;
        width: 100%;
        height: 100%; }
    .pj_pilars_box .pj_pilars-box_heading {
      margin: 20px 0 12px;
      font-size: 20px;
      font-weight: 900; }
    .pj_pilars_box .pj_pilars-box_text {
      color: #5E5E5E;
      line-height: 24px;
      font-weight: 900; }
  
  .pj_works-section {
    background: var(--works);
    padding: 77px 0 80px; }
  
  .pj_gallery_selector {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    flex-basis: 100px;
    flex-wrap: wrap; }
    .pj_gallery_selector .pj_gallery-selector_item {
      color: #fff;
      letter-spacing: -1px;
      padding: 10px 20px;
      text-decoration: none; }
      .pj_gallery_selector .pj_gallery-selector_item:hover {
        background: #7EBD8C; }
      .pj_gallery_selector .pj_gallery-selector_item:first-child {
        background: #7EBD8C; }
  
  .pj_works_gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .pj_works_gallery .pj_works_gallery-item {
      width: 22%;
      margin: 2% 2% 2% 0; }
      .pj_works_gallery .pj_works_gallery-item img {
        display: block;
        width: 100%; }
  
  .pj_templates-section {
    background: var(--templates);
    padding: 77px 0 80px; }
  
  .pj_templates_top-box {
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%; }
    @media only screen and (min-width: 765.01px) {
      .pj_templates_top-box {
        flex-direction: row;
        align-items: left;
        text-align: left;
        padding-left: 0;
        padding-right: 0; } }
    .pj_templates_top-box .pj_templates-box_text {
      margin-left: 2%; }
      .pj_templates_top-box .pj_templates-box_text a {
        background-color: var(--works); }
  
  .pj_templates_bottom-box {
    padding-top: 60px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%; }
    @media only screen and (min-width: 765.01px) {
      .pj_templates_bottom-box {
        flex-direction: row;
        align-items: left;
        text-align: left;
        padding-left: 0;
        padding-right: 0; } }
    .pj_templates_bottom-box .pj_templates-box_text {
      margin-right: 2%; }
      .pj_templates_bottom-box .pj_templates-box_text a {
        background-color: var(--header); }
  
  .pj_templates_img {
    min-width: 336px;
    height: 268px;
    border-radius: 17px;
    background: url("../style/templates/blog-pic1.png") no-repeat; }
  
  .pj_templates-box_text .pj_templates_text-heading {
    font-size: 30px;
    font-weight: 800;
    padding: 5px 0 20px;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 20px; }
    @media only screen and (min-width: 765.01px) {
      .pj_templates-box_text .pj_templates_text-heading {
        padding-top: 0; } }
  .pj_templates-box_text .pj_templates_text-paragraph {
    font-size: 22px;
    line-height: 25px;
    padding-bottom: 30px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400; }
  .pj_templates-box_text .pj_templates_text-button {
    display: inline-block;
    padding: 25px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color .2s ease-in-out; }
    .pj_templates-box_text .pj_templates_text-button:hover {
      background-color: #000; }
  
  .pj_team-section {
    background: var(--team);
    padding: 77px 0 80px; }
  
  .pj_team-wrapper {
    padding: 15px 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (min-width: 765.01px) {
      .pj_team-wrapper {
        flex-direction: row;
        padding: 65px 0; } }
  
  .pj_team_box {
    text-align: center;
    background-color: white;
    width: 350px;
    margin: 1%; }
    @media only screen and (min-width: 765.01px) {
      .pj_team_box {
        margin: 0;
        width: 33%; } }
    @media only screen and (min-width: 765.01px) {
      .pj_team_box:nth-child(2) {
        margin: 0 10%; } }
    .pj_team_box .pj_team-box_img {
      height: 213px;
      background-color: #E9E9E9;
      margin: 0 auto; }
      .pj_team_box .pj_team-box_img a {
        display: block;
        height: 100%;
        width: 100%;
        background: url("../style/team/people-pic.png") no-repeat;
        background-size: 80px 80px;
        background-position: center center; }
    .pj_team_box .pj_team-box_name {
      background-color: #fff;
      padding: 20px 0 10px;
      font-size: 25px;
      font-weight: 900;
      font-family: 'Trump'; }
    .pj_team_box .pj_team-box_charge {
      padding: 10px 0;
      font-weight: 900;
      font-size: 20px; }
    .pj_team_box .pj_team-box_text {
      padding: 10px;
      color: #8F8F8F;
      line-height: 22px;
      font-weight: 600; }
    .pj_team_box .pj_team-box_social-nav {
      padding: 10px 0 30px 0; }
      .pj_team_box .pj_team-box_social-nav .pj_team-box_social-item {
        padding: 10px;
        height: 46px;
        width: 47px;
        font-size: 30px;
        border-radius: 100%;
        color: #fff; }
        .pj_team_box .pj_team-box_social-nav .pj_team-box_social-item:nth-child(1) {
          background: #3234a3; }
        .pj_team_box .pj_team-box_social-nav .pj_team-box_social-item:nth-child(2) {
          background: #4ba5fa;
          margin: 0 10px; }
        .pj_team_box .pj_team-box_social-nav .pj_team-box_social-item:nth-child(3) {
          background: #ca0034; }
        .pj_team_box .pj_team-box_social-nav .pj_team-box_social-item:hover {
          cursor: pointer;
          filter: brightness(1.2); }
  
  .pj_posts-section {
    background: #b7d5e0;
    padding: 77px 0 80px; }
  
  .pj_posts-wrapper {
    padding: 15px 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (min-width: 765.01px) {
      .pj_posts-wrapper {
        flex-direction: row;
        padding: 65px 0; } }
  
  .pj_posts-section_box {
    background: #fff;
    text-align: center;
    width: 30%;
    text-align: center;
    background-color: white;
    width: 350px;
    margin: 1%; }
    @media only screen and (min-width: 765.01px) {
      .pj_posts-section_box {
        margin: 0;
        width: 33%; } }
    @media only screen and (min-width: 765.01px) {
      .pj_posts-section_box:nth-child(2) {
        margin: 0 10%; } }
    .pj_posts-section_box .pj_posts-section_icon {
      background-color: #E9E9E9;
      margin: 0 auto;
      height: 213px;
      display: block;
      background-image: url("../style/posts/post-icon.png");
      background-repeat: no-repeat;
      background-size: 80px 80px;
      background-position: center center; }
    .pj_posts-section_box .pj_section-box_heading {
      padding: 25px 0 5px 0;
      font-size: 30px;
      font-weight: 900; }
    .pj_posts-section_box .pj_section-box_date {
      font-style: italic; }
    .pj_posts-section_box .pj_section-box_paragraph {
      margin: 0 auto;
      padding: 15px 5px;
      color: #909090;
      width: 90%;
      font-weight: 900;
      line-height: 25px; }
  
  .pj_posts-cta {
    display: block;
    text-align: center;
    padding: 28px 70px;
    margin: 60px auto 0;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: -.5px;
    outline: none;
    transition: .2s ease-in-out; }
    .pj_posts-cta:hover {
      cursor: pointer;
      background-color: var(--works);
      color: #fff; }
  
  .pj_contact-section {
    background: var(--contact);
    padding: 77px 0 80px; }
    .pj_contact-section .pj_title {
      color: #D3D0D0; }
    .pj_contact-section .pj_claim {
      color: #D3D0D0; }
  
  .pj_contact_form * {
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 10px;
    outline: none;
    padding-left: 5px;
    font-size: 24px;
    background: #fff; }
    .pj_contact_form *::placeholder {
      color: rgba(0, 0, 0, 0.4);
      font-weight: 400; }
  .pj_contact_form .pj_contact_form-name {
    height: 70px;
    margin-bottom: 20px;
    padding-left: 20px;
    width: 80%; }
    @media only screen and (min-width: 765.01px) {
      .pj_contact_form .pj_contact_form-name {
        width: 75%; } }
    @media only screen and (min-width: 1178.01px) {
      .pj_contact_form .pj_contact_form-name {
        width: 70%; } }
  .pj_contact_form .pj_contact_form-email {
    height: 70px;
    margin-bottom: 20px;
    padding-left: 20px;
    width: 80%; }
    @media only screen and (min-width: 765.01px) {
      .pj_contact_form .pj_contact_form-email {
        width: 75%; } }
    @media only screen and (min-width: 1178.01px) {
      .pj_contact_form .pj_contact_form-email {
        width: 70%; } }
  .pj_contact_form .pj_contact_form-message {
    height: 220px;
    margin-bottom: 20px;
    padding-left: 20px;
    resize: none;
    padding-top: 16px;
    width: 80%; }
    @media only screen and (min-width: 765.01px) {
      .pj_contact_form .pj_contact_form-message {
        width: 75%; } }
    @media only screen and (min-width: 1178.01px) {
      .pj_contact_form .pj_contact_form-message {
        width: 70%; } }
  .pj_contact_form .pj_contact_form-button {
    padding: 30px 70px;
    color: rgba(0, 0, 0, 0.6);
    transition: .2s ease-in-out; }
    .pj_contact_form .pj_contact_form-button:hover {
      cursor: pointer;
      background-color: var(--team);
      color: #fff; }
  
  .pj_footer-section {
    background: var(--contact); }
    .pj_footer-section .pj_footer-wrapper {
      border-top: 0.4px solid rgba(0, 0, 0, 0.2);
      padding: 15px 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center; }
      @media only screen and (min-width: 765.01px) {
        .pj_footer-section .pj_footer-wrapper {
          justify-content: space-between; } }
  
  .pj_footer_nav-social {
    display: flex;
    justify-content: space-between;
    flex-basis: 250px;
    margin: 0 2%; }
    .pj_footer_nav-social .pj_footer_nav-social-item {
      display: inline-block;
      text-decoration: none;
      font-size: 35px;
      color: var(--contact);
      background: rgba(225, 225, 225, 0.2);
      padding: 12px;
      border-radius: 100%; }
      .pj_footer_nav-social .pj_footer_nav-social-item:hover {
        background: rgba(225, 225, 225, 0.5); }
      .pj_footer_nav-social .pj_footer_nav-social-item:nth-child(2) {
        padding: 12px 17px; }
  
  .pj_footer_legal {
    color: rgba(225, 225, 225, 0.6);
    padding: 12px 0;
    font-size: 12px; }
  